body>main>figure{
    margin-left:25%;
    margin-right:25%;
    padding:20px;
}
body>main>p{
    white-space:3em;
    word-spacing:4px;
}
body>main>div{
    margin-left:20%;
    margin-right:20%;
}
body{
    header{
       text-align:center;
    }
    main{
        figure{
            #inicio{
                margin-left:38%;
            }
            #inicio figcaption{
                margin-right:38%;
            }
            audio{
                margin-left:25%;
                margin-right:25%
            }
        }
    }
    footer{
        text-align:center;
    }
}